nav {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 50px auto;
  width: 1000px;
  height: 40px;
  /*   border: 1px dotted silver; */
}

/* list styles */

ul {
  width: 1000px;
  margin: 0px auto;
  /*   overflow: auto; */
  list-style: none;
}

li {
  float: left;
  /*   display: inline; */
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px dotted #999;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #888;
}

li a:hover {
  color: #333;
  border-bottom: 2px solid red;
}

li.active a {
  color: red;
  font-weight: normal;
  border-bottom: none;